@footerPinkColor: #e83556;

footer {
    width: 100%;
    background: @footerPinkColor;
    padding: 50px 0;
    margin-bottom: 40px;
    text-align: center;

    .footer-content {
        display: inline-block;
        color: white;

        a {
            display: block;
            color: white;
        }

        .email {
            display: inline-block;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background-color: #61D0D4;
            border-radius: 50%;
            margin-bottom: 20px;

            .icon-email {
                font-size: 24px;
            }
        }
    }
}
